= form_for @kern do |f|
  -if @kern.errors.any?
    #error_explanation
      %h2= "#{pluralize(@kern.errors.count, "error")} prohibited this kern from being saved:"
      %ul
        - @kern.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :version
    = f.text_field :version
  .field
    = f.label :device
    = f.collection_select :device_id, Device.all, :id, :name
  .actions
    = f.submit 'Save'
